/* Element Selectors */
a {
  color: inherit;
}

body {
  font-family: 'Handlee', cursive;
  padding-top: 70px;
  position: relative;
}

h1 {
  font-size: 4rem;
}

hr {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  border: 0;
  height: 1px;

}

/* Class Selectors */
.btn {
  border: 2px solid black;
}

.bg-black {
  background-color: black;
}

.fix {
  padding-top: 38px;
}

.jumbo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
  url("../img/banner.JPG");
  background-size: cover;
}

.jumbo2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
  url("../img/banner2.jpg");
  background-size: cover;
} 

.lead {
  font-size: 2rem;
}

.limit {
  max-width: 400px;
}

.outline {
  border: 2px solid black;
}

.paragraph {
  font-size: 1.2rem;
}

.shadow {
  text-shadow: 0px 1px 14px rgba(0,0,0,1.0);
}

/* Pseudo Selectors */
:target:before {
  content: "";
  display: inline-block;
  height: 50px;
  margin: -50px 0 0;
}

/* Media Queries */
@media (min-width: 992px) {
  .img-control {
    max-width: 85%;
  }
}

@media (max-width: 992px) {
  .img-height {
    padding-top: 40px;
  }
}
